

@media screen and (max-width: 1020px) {
    .pane {
        display: flex;
        flex-direction: column;
    }
}

.decription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: centre;
    justify-content: centre;
}

.buttonsTop {

}

.buttonsBottom {
    display: flex;
    margin: auto;
    gap: 10px;
}

